<!-- Footer -->
<footer id="footer">
  <div class="container">
    <div class="row double">
      <div class="6u">
        <div class="row collapse-at-2">
          <div class="6u">
            <h3>Miscellaneous Links</h3>
            <ul class="alt">
              <li><a href="https://discordapp.com/">Discord</a></li>
              <li><a href="http://smashboards.com/forums/australia.252/">SmashBoards</a></li>
              <li><a href="http://qldsmash.com/">QLDsmash</a></li>
              <li><a href="#">Nascetur nunc varius</a></li>
            </ul>
          </div>
          <div class="6u">
            <h3>Facebook Communities</h3>
            <ul class="alt">
              <li><a href="https://www.facebook.com/groups/253413668003243/">VIC</a></li>
              <li><a href="https://www.facebook.com/groups/145359035665748/">NSW</a></li>
              <li><a href="https://www.facebook.com/groups/SaSmash/">South Australia</a></li>
              <li><a href="https://www.facebook.com/groups/perthsmash/">Western Australia</a></li>
              <li><a href="https://www.facebook.com/groups/QueenslandSmash/">QLD</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="6u">
        <h2>Aliquam Interdum</h2>
        <p>Blandit nunc tempor lobortis nunc non. Mi accumsan. Justo aliquet massa adipiscing cubilia eu accumsan id. Arcu accumsan faucibus vis ultricies adipiscing ornare ut. Mi accumsan justo aliquet.</p>
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>
